<!--views/profile.ejs-->
<!doctype html>
<html>
    <head>
        <title>Smart Scout Login</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <title>Smart Scout</title>
       <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="./assets/css/styles.css" type="text/css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="./assets/scripts/script.js"></script>
        <style>
            body{
                padding-top:80px;
            }
        </style>
    </head>
    <body>
     <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      <a class="navbar-brand" href="#">SmartScout</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Current Players <span class="sr-only">(current)</span></a></li>
      
      <!-- FIX THIS ROUTE!! -->                                                                                                                                          <!---->-->
        <li><a href="/newPlayer">Add New Player</a></li>
     
     
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout" class="btn btn-default btn-sm">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
        
        <div class="container">
            <div class="page-header text-center">
                <h1>Thank you <%= user.info.firstName %> for using SmartScout</h1><br>
            </div>
            <div class="row">
                 <!--local info-->
                <div class="col-sm-6">
                    <div class="well">
                        <h3><span class="fa fa-user"></span>Local</h3>
                        
                        <p>
                            <strong>ID</strong>: <%= user._id %><br>
                            <strong>Email</strong>: <%= user.local.email %><br>
                            <strong>Password</strong>: <%= user.local.password %><br>
                            <strong>First Name</strong>: <%= user.info.firstName %><br>
                            <strong>Last Name</strong>: <%= user.info.lastName %><br>
                            <strong>Area Covered</strong>: <%= user.info.areaCovered %><br>
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
        
    </body>
</html>